@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  .faqs {
    width: 100%;
    max-width: 1068px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .faqs .faq {
    margin: 15px;
    padding: 25px;
    /* background: #fff; */
    background: white;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    /* border: 0.5px solid black; */
  }
  
  .faqs .faq .faq-question {
    position: relative;
    font-size: 25px;
    padding-right: 80px;
    color: black;
    transition: all 0.4s ease;
    font-family: 'Poppins', sans-serif;
  }
  
  .faqs .faq .faq-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    color: black;
    font-family: 'Poppins', sans-serif;
  }
  
  .faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    color: black;
    font-family: sans-serif;
  }
  
  .faqs .faq.open .faq-question {
    margin-bottom: 15px;
  }
  
  .faqs .faq.open .faq-question::after {
    content: "-";
  }
  
  .faqs .faq.open .faq-answer {
    max-height: 1000px;
    opacity: 1;
  }

  @media only screen and (max-width: 620px) {
    .faqs {
      width: 90%;
      max-width: 1068px;
      margin: 0 auto;
      padding: 10px;
    }
    .faqs .faq .faq-question {
      position: relative;
      font-size: 20px;
      padding-right: 80px;
      color: black;
      transition: all 0.4s ease;
      font-family: 'Poppins', sans-serif;
    }
  }
  